# dependencies
node_modules/
.pnp
.pnp.js

# expo
.expo/
dist/
web-build/

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# env
.env
.env.local
.env.*.local
!.env.example

# supabase
supabase/.branches
supabase/.temp

# logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# os
.DS_Store

# editor
.vscode/
.idea/

# build
build/
coverage/
